PROJECT_NAME=demandflow
ENVIRONMENT=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=demandflow
POSTGRES_USER=demandflow_user
POSTGRES_PASSWORD=change_me

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localhost:4566
