# Variáveis de ambiente e credenciais
.env
*.pem
*.key
*.license
.demandflow-secrets/
s3.env
minio-root-user
minio-root-password

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IntelliJ e PyCharm
.idea/

# Arquivos temporários
*.log
*.tmp
*.temp

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Segredos do LocalStack
.localstack/
